---
user: scotty
autoSyncInWorktrees: true
gitignore: disabled
sync:
  mode: full # requires deployment key
agents:
  skills: global
  commands: global
  agents: global
profiles:
  personal:
    thoughtsRepo: {{ .home.ntbk_dir }}/thoughts
    reposDir: repos
    globalDir: global
    default: true
  test:
    thoughtsRepo: ~/.obsidian/test-thts/thoughts/
    reposDir: repos
    globalDir: global
