{
  "claude-plugins-official": {
    "source": {
      "source": "github",
      "repo": "anthropics/claude-plugins-official"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/claude-plugins-official",
    "lastUpdated": "2025-12-23T17:38:29.783Z"
  },
  "superpowers-dev": {
    "source": {
      "source": "directory",
      "path": "{{ .chezmoi.homeDir }}/.config/opencode/superpowers"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.config/opencode/superpowers",
    "lastUpdated": "2025-12-24T00:39:56.066Z"
  }
}
