{
  "version": 2,
  "plugins": {
    "superpowers@superpowers-dev": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.config/opencode/superpowers",
        "version": "4.0.1",
        "installedAt": "2025-12-30T00:05:30.226Z",
        "lastUpdated": "2025-12-30T00:05:30.226Z",
        "isLocal": true
      }
    ]
  }
}
