{{- /* renovate: depName=obra/superpowers */ -}}
{
  "version": 2,
  "plugins": {
    "superpowers@superpowers-dev": [
      {
        "scope": "user",
        "installPath": "{{ .chezmoi.homeDir }}/.claude/plugins/cache/superpowers-dev/superpowers/4.0.3",
        "version": "4.0.3",
        "installedAt": "2026-01-07T21:50:08.050Z",
        "lastUpdated": "2026-01-07T21:50:08.050Z",
        "gitCommitSha": "b9e16498b9b6b06defa34cf0d6d345cd2c13ad31",
        "isLocal": true
      }
    ]
  }
}{{- /* no newline */ -}}
