<?xml version="1.0"?>
<!DOCTYPE wallpapers SYSTEM "gnome-wp-list.dtd">
<wallpapers>
  <wallpaper deleted="false">
    <name>Default Background</name>
    <filename>{{ .chezmoi.homeDir }}/src/github.com/scottames/walls/4k/06-Blue_Purple_LM-4k_catppuccin-latte_8_GaussianRBF_96_16.png</filename>
    <filename-dark>{{ .chezmoi.homeDir }}/src/github.com/scottames/walls/4k/05-Blue_Green_DM-4K.png</filename-dark>
    <options>zoom</options>
    <shade_type>solid</shade_type>
    <pcolor>#3071AE</pcolor>
    <scolor>#000000</scolor>
  </wallpaper>
</wallpapers>
