name: scta
dependencies:
{{- $packageRoot := joinPath .home.src_github_dir ".agents/main/packages" }}
{{- $packageNames := list
  "compound-engineering"
  "global"
  "graphite"
  "herdr"
  "ponytail"
  "superpowers"
  "mattpocock"
  "worktrunk"
}}
{{- range $name := $packageNames }}
{{- $packagePath := joinPath $packageRoot $name }}
{{- if stat $packagePath }}
- name: {{ $name }}
  base: {{ $packagePath }}
{{- end }}
{{- end }}

dev-dependencies: []
