name: scta
dependencies:
{{- if stat (joinPath .home.src_github_dir ".agents/main/packages/compound-engineering") }}
- name: compound-engineering
  path: {{ .home.src_github_dir }}/.agents/main/packages/compound-engineering
{{- end }}

{{- if stat (joinPath .home.src_github_dir ".agents/main/packages/global") }}
- name: global
  path: {{ .home.src_github_dir }}/.agents/main/packages/global
{{- end }}
{{- if stat (joinPath .home.src_github_dir ".agents/main/packages/humanlayer") }}
- name: humanlayer
  path: {{ .home.src_github_dir }}/.agents/main/packages/humanlayer
{{- end }}

dev-dependencies: []
