name: scta
dependencies:
{{- $packageRoot := joinPath .home.src_github_dir ".agents/main/packages" }}
{{- $packageNames := list
  "ctx7"
  "gh-stack"
  "global"
  "herdr"
  "ponytail"
  "worktrunk"
}}
{{- range $name := $packageNames }}
{{- $packagePath := joinPath $packageRoot $name }}
{{- if stat $packagePath }}
- name: {{ $name }}
  base: {{ $packagePath }}
{{- end }}
{{- end }}
- name: gh@schpet/linear-cli/skills/linear-cli
  url: https://github.com/schpet/linear-cli.git#v2.4.0
  path: skills/linear-cli
dev-dependencies: []
