layout {
    default_tab_template {
        pane split_direction="vertical" {
            children
            {{ template "zellij/status/vertical-right.kdl" . }}
        }
    }

    new_tab_template {
        pane split_direction="vertical" {
            pane
            {{ template "zellij/status/vertical-right.kdl" . }}
        }
    }

    tab name="new" {
        pane
    }
}
