{{- $githubUser     := "scottames" -}}
{{- $chassis        := ""          -}}
{{- $gpu            := ""          -}}
{{- $isContainer    := false       -}}
{{- $isDistroBox    := false       -}}
{{- $isUblue        := false       -}}
{{- $desktopSession := env "DESKTOP_SESSION" -}}
{{- $hourDark       := 24 -}}
{{- $hourLight      := 24 -}}
{{- $osVariant      := "" -}}
{{- $ublueImageInfo := "" -}}
{{- $dots           := "dots" -}}

{{- $loginSession     := 0 -}}
{{- $loginSessionType := "" -}}

{{- $useGitWorktrees := true -}}
{{- if $useGitWorktrees -}}
{{-   $dots = "dots/main" -}}
{{- end -}}

{{- if eq .chezmoi.os "linux" -}}
{{-   $gpu = output "sh" "-c" "lspci | grep VGA | cut -d ':' -f3 | awk '{print $1}'" | trim | lower -}}
{{-   if or (lstat "/.dockerenv") (lstat "/run/.containerenv") -}}
{{-     $isContainer = true -}}
{{-   end -}}
{{-   if $isContainer -}}
{{-     $isDistroBox = ne (env "DISTROBOX_ENTER_PATH") "" -}}
{{-   end -}}
{{-   if $isDistroBox -}}
{{-     $chassis = output "distrobox-host-exec" "hostnamectl" "chassis" | trim -}}
{{-     $loginSession = output "distrobox-host-exec" "loginctl" "-o" "json" | fromJson | jq (printf ".[] | select(.user==\"%s\") | .session" .chezmoi.username) | first -}}
{{-     $loginSessionType = output "distrobox-host-exec" "loginctl" "show-session" $loginSession "-p" "Type" | replace "Type=" "" | trim -}}
{{-     $osVariant = output "sh" "-c" "distrobox-host-exec sh -c '. /etc/os-release && echo $VARIANT'" | trim | lower -}}
{{-     $ublueImageInfo = output "sh" "-c" "distrobox-host-exec cat /usr/share/ublue-os/image-info.json" -}}
{{-     $isUblue = not (empty $ublueImageInfo) -}}
{{-   else if $isContainer -}}
{{-     $chassis = "container" -}}
{{-   else -}}
{{-     $loginSession = output "loginctl" "-o" "json" | fromJson | jq (printf ".[] | select(.user==\"%s\") | .session" .chezmoi.username) | first -}}
{{-     $loginSessionType = output "loginctl" "show-session" $loginSession "-p" "Type" | replace "Type=" "" | trim -}}
{{-     $chassis = output "hostnamectl" "chassis" | trim -}}
{{-     $osVariant = output "sh" "-c" ". /etc/os-release && echo $VARIANT" | trim | lower -}}
{{-     $ublueImageInfo = cat "/usr/share/ublue-os/image-info.json" -}}
{{-     $isUblue = not (empty $ublueImageInfo) -}}
{{-   end -}}
{{- end -}}

{{- $aquaRoot      := env "AQUA_ROOT_DIR" -}}
{{- $aquaInstalled := ne $aquaRoot "" }}

sourceDir = "{{ .chezmoi.homeDir }}/src/github.com/{{ $githubUser }}/{{ $dots }}/home"
progress = true

{{ if lookPath "delta" -}}
[diff]
  pager = "delta"
  command = "delta"
  args = ["--paging", "never"]
  exclude = ["dirs", "scripts"]

{{ end -}}
[data]
  aqua_installed = {{ $aquaInstalled }}
  aqua_bin_dir = "{{ $aquaRoot }}/bin"
  aqua_root = "{{ $aquaRoot }}"
  chezmoi_home = "{{ .chezmoi.homeDir }}/src/github.com/{{ $githubUser }}/{{ $dots }}/home"
  desktop_session = "{{ $desktopSession }}"
  dots = "{{ .chezmoi.homeDir }}/src/github.com/{{ $githubUser }}/{{ $dots }}"
  hour_dark = {{ $hourDark }}
  hour_light = {{ $hourLight }}
  login_session = {{ $loginSession }}
  login_session_type = "{{ $loginSessionType }}"
  [data.host]
    chassis = "{{ $chassis }}"
    is_ublue = {{ $isUblue }}
    os_variant = "{{ $osVariant }}"
    gpu = "{{ $gpu }}"

  [data.me]
    user = "{{ .chezmoi.username }}"
    email = "scott@ames.sh"
    name = "Scott Ames"
    [data.me.github]
      username = "{{  $githubUser }}"

# vi: ft=toml
