{{ $githubUser     := "scottames" -}}
{{ $chassis        := ""          -}}
{{ $isContainer    := false       -}}
{{ $isDistroBox    := false       -}}
{{ $isDocker       := false       -}}
{{ $isPodman       := false       -}}
{{ $desktopSession := env "DESKTOP_SESSION" -}}

{{- if eq .chezmoi.os "linux" -}}
{{-   if or (lstat "/.dockerenv") (lstat "/run/.dockerenv") (lstat ".containerenv") (lstat "/run/.containerenv") -}}
{{-     $isContainer = true -}}
{{-   end -}}
{{-   if and $isContainer (lookPath "distrobox-host-exec")  -}}
{{-     $isDistroBox = true -}}
{{-   end -}}
{{-   if $isDistroBox -}}
{{-     $chassis = output "distrobox-host-exec" "hostnamectl" "chassis" | trim -}}
{{-   else if $isContainer -}}
{{-     $chassis = "container" }}
{{-   else -}}
{{-     $chassis = output "hostnamectl" "chassis" | trim -}}
{{-   end -}}
{{- end -}}

sourceDir = "{{ .chezmoi.homeDir }}/src/{{ $githubUser }}/dots/home"
progress = true

{{ if lookPath "delta" -}}
[diff]
  pager = "delta"
  command = "delta"
  args = ["--paging", "never"]
  exclude = ["dirs", "scripts"]

{{ end -}}
[data]
  chassis = "{{       $chassis }}"
  chezmoi_home = "{{ .chezmoi.homeDir }}/src/{{ $githubUser }}/dots/home"
  desktop_session = "{{ $desktopSession }}"

  [data.me]
    user = "{{ .chezmoi.username }}"
    email = "scott@ames.sh"
    name = "Scott Ames"
    [data.me.github]
      username = "{{  $githubUser }}"

# vi: ft=toml
