{{ if eq .chezmoi.os "linux" -}}

# renovate: datasource=github-releases depName=ryanoasis/nerd-fonts
{{ $nerdFontsVersion := "v3.4.0" -}}

[".local/share/fonts/FiraCode"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ $nerdFontsVersion }}/FiraCode.zip"
    exact = true
    refreshPeriod = "168h"

[".local/share/fonts/Hack"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ $nerdFontsVersion }}/Hack.zip"
    exact = true
    refreshPeriod = "168h"

[".local/share/fonts/Monaspace"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ $nerdFontsVersion }}/Monaspace.zip"
    exact = true
    refreshPeriod = "168h"

[".local/share/fonts/RobotoMono"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ $nerdFontsVersion }}/RobotoMono.zip"
    exact = true
    refreshPeriod = "168h"

{{ $ubuntuFontsVersion := "0.83" -}}

[".local/share/fonts/ubuntu"]
    type = "archive"
    url = "https://assets.ubuntu.com/v1/0cef8205-ubuntu-font-family-{{ $ubuntuFontsVersion }}.zip"
    exact = true
    refreshPeriod = "168h"
    stripComponents = 1

[".local/bin/keymapp"]
    type = "archive-file"
    url = "https://oryx.nyc3.cdn.digitaloceanspaces.com/keymapp/keymapp-latest.tar.gz"
    path = "keymapp"
    refreshPeriod = "168h"

# renovate: datasource=github-releases depName=gabm/Satty
{{ $sattyVersion := "v0.19.0" -}}

[".local/bin/satty"]
    type = "archive-file"
    url = "https://github.com/gabm/Satty/releases/download/{{ $sattyVersion }}/satty-x86_64-unknown-linux-gnu.tar.gz"
    path = "satty"
    stripComponents = 1
    refreshPeriod = "168h"

[".config/fish/completions/satty.fish"]
  type = "archive-file"
  url = "https://github.com/gabm/Satty/releases/download/{{ $sattyVersion }}/satty-x86_64-unknown-linux-gnu.tar.gz"
  path = "completions/satty.fish"
  stripComponents = 1
  refreshPeriod = "168h"

[".local/share/yubico-authenticator"]
    type = "archive"
    url = "https://developers.yubico.com/yubioath-flutter/Releases/yubico-authenticator-latest-linux.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

{{ end -}} # linux

{{- $qArch := "x86_64" }}
{{- if eq .chezmoi.arch "aarch64" }}
{{-   $qArch = "aarch64" }}
{{- end }}
{{- $qBins := list "q" "qchat" "qterm" -}}
{{- range $qBin := $qBins }}
[".local/bin/{{ $qBin }}"]
type = "archive-file"
url = "https://desktop-release.q.us-east-1.amazonaws.com/latest/q-{{ $qArch }}-{{ $.chezmoi.os }}.zip"
extract = true
path = "bin/{{ $qBin }}"
stripComponents = 1
refreshPeriod = "168h"
{{ end -}}

#  ╭──────────────────────────────────────────────────────────╮
#  │ file                                                     │
#  ╰──────────────────────────────────────────────────────────╯
[".face"]
    type = "file"
    url = "https://gravatar.com/avatar/{{ .me.gravatar.id }}?s=2048"

[".local/bin/cht.sh"]
    type = "file"
    url = "https://cht.sh/:cht.sh"
    executable = true
    refreshPeriod = "168h"

# renovate: datasource=github-releases depName=karimould/zellij-forgot
{{ $zellijForgotVersion := "0.4.2" -}}

[".config/zellij/plugins/zellij-forgot.wasm"]
    type = "file"
    url = "https://github.com/karimould/zellij-forgot/releases/download/{{ $zellijForgotVersion }}/zellij_forgot.wasm"
    executable = false
    refreshPeriod = "168h"

# renovate: datasource=github-releases depName=rvcas/room
{{ $zellijRoomVersion := "v1.2.0" -}}

[".config/zellij/plugins/room.wasm"]
    type = "file"
    url = "https://github.com/rvcas/room/releases/download/{{ $zellijRoomVersion }}/room.wasm"
    executable = false
    refreshPeriod = "168h"

# renovate: datasource=github-releases depName=dj95/zjstatus
{{ $zjstatusVersion := "v0.21.0" -}}

[".config/zellij/plugins/zjstatus.wasm"]
    type = "file"
    url = "https://github.com/dj95/zjstatus/releases/download/{{ $zjstatusVersion }}/zjstatus.wasm"
    executable = false
    refreshPeriod = "168h"

# renovate: datasource=github-releases depName=b0o/zjstatus-hints
{{ $zjstatusHintsVersion := "v0.1.4" -}}

[".config/zellij/plugins/zjstatus-hints.wasm"]
    type = "file"
    url = "https://github.com/b0o/zjstatus-hints/releases/download/{{ $zjstatusHintsVersion }}/zjstatus-hints.wasm"
    executable = false
    refreshPeriod = "168h"

# renovate: datasource=github-releases depName=hiasr/vim-zellij-navigator
{{ $vimZellijNavigatorVersion := "0.3.0" -}}

[".config/zellij/plugins/vim-zellij-navigator.wasm"]
    type = "file"
    url = "https://github.com/hiasr/vim-zellij-navigator/releases/download/{{ $vimZellijNavigatorVersion }}/vim-zellij-navigator.wasm"
    executable = false
    refreshPeriod = "168h"

[".config/k9s/skins"]
    type = "archive"
    url = "https://github.com/catppuccin/k9s/archive/main.tar.gz"
    include = ["*/dist/*.yaml"]
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"

[".config/fuzzel/themes"]
    type = "archive"
    url = "https://github.com/catppuccin/fuzzel/archive/main.tar.gz"
    exact = true
    refreshPeriod = "168h"
    stripComponents = 2
    include = ["*/themes/**"]


[".config/yazi/flavors"]
    type = "archive"
    url = "https://github.com/yazi-rs/flavors/archive/main.tar.gz"
    exact = true
    refreshPeriod = "168h"
    stripComponents = 1
    include = ["*/catppuccin-mocha.yazi/**"]

[".config/hypr/themes"]
    type = "archive"
    url = "https://github.com/catppuccin/hyprland/archive/main.tar.gz"
    exact = true
    refreshPeriod = "168h"
    stripComponents = 2
    include = ["*/themes/**"]

[".config/waybar/themes"]
    type = "archive"
    url = "https://github.com/catppuccin/waybar/archive/main.tar.gz"
    exact = true
    refreshPeriod = "168h"
    stripComponents = 2
    include = ["*/themes/**"]

[".config/bat/themes"]
    type = "archive"
    url = "https://github.com/catppuccin/bat/archive/main.tar.gz"
    exact = true
    refreshPeriod = "168h"
    stripComponents = 2
    include = ["*/themes/*.tmTheme"]

#  ╭──────────────────────────────────────────────────────────╮
#  │ git-repo                                                 │
#  │ | utils                                                  │
#  ╰──────────────────────────────────────────────────────────╯
[".pyenv"]
    type = "git-repo"
    url = "https://github.com/pyenv/pyenv.git"
    refreshPeriod = "168h"

[".pyenv/plugins/pyenv-virtualenv"]
    type = "git-repo"
    url = "https://github.com/pyenv/pyenv-virtualenv.git"
    refreshPeriod = "168h"

#  ╭──────────────────────────────────────────────────────────╮
#  │ git-repo                                                 │
#  │ | pub                                                    │
#  ╰──────────────────────────────────────────────────────────╯
# renovate: datasource=github-releases depName=Supreeeme/xwayland-satellite
{{ $xwaylandSatelliteVersion := "v0.6" -}}

[".local/share/xwayland-satellite"]
    type = "git-repo"
    url = "https://github.com/Supreeeme/xwayland-satellite.git"
    refreshPeriod = "168h"
    args = ["--branch", "{{ $xwaylandSatelliteVersion }}"]

[".config/alacritty/alacritty-themes"]
    type = "git-repo"
    url = "https://github.com/rajasegar/alacritty-themes.git"
    refreshPeriod = "168h"

[".config/alacritty/catppuccin"]
    type = "git-repo"
    url = "https://github.com/catppuccin/alacritty.git"
    refreshPeriod = "168h"

{{ if not (eq "root" .me.user) -}} # skip if running in CI
["src/github.com/magefile/mage"]
    type = "git-repo"
    url = "https://github.com/magefile/mage"
    refreshPeriod = "168h"

{{- if and (lookPath "is-github-authed.sh") (eq (output "is-github-authed.sh") "true") -}}

#  ╭──────────────────────────────────────────────────────────╮
#  │ git-repo                                                 │
#  │ | personal                                               │
#  ╰──────────────────────────────────────────────────────────╯

["src/github.com/scottames/boxes/.bare"]
    type = "git-repo"
    url = "git@github.com:scottames/boxes.git"
    refreshPeriod = "0"
    ["src/github.com/scottames/boxes/.bare".clone]
        args = ["--bare"]

["src/github.com/scottames/cmder/.bare"]
    type = "git-repo"
    url = "git@github.com:scottames/cmder.git"
    refreshPeriod = "0"
    ["src/github.com/scottames/cmder/.bare".clone]
        args = ["--bare"]

["src/github.com/scottames/containers/.bare"]
    type = "git-repo"
    url = "git@github.com:scottames/containers.git"
    refreshPeriod = "0"
    ["src/github.com/scottames/containers/.bare".clone]
        args = ["--bare"]

["src/github.com/scottames/cv/.bare"]
    type = "git-repo"
    url = "git@github.com:scottames/cv.git"
    refreshPeriod = "0"
    ["src/github.com/scottames/cv/.bare".clone]
        args = ["--bare"]

["src/github.com/scottames/misc/.bare"]
    type = "git-repo"
    url = "git@github.com:scottames/misc.git"
    refreshPeriod = "0"
    ["src/github.com/scottames/misc/.bare".clone]
        args = ["--bare"]

["src/github.com/scottames/ublue/.bare"]
    type = "git-repo"
    url = "git@github.com:scottames/ublue.git"
    refreshPeriod = "0"
    ["src/github.com/scottames/ublue/.bare".clone]
        args = ["--bare"]

["src/github.com/scottames/walls/.bare"]
    type = "git-repo"
    url = "git@github.com:scottames/walls.git"
    refreshPeriod = "0"
    ["src/github.com/scottames/walls/.bare".clone]
        args = ["--bare"]

{{ end -}} # end: is-github-authed
{{ end -}} # end: not root user

# vi: ft=toml
