_default:
    @just --list --list-heading $'' --list-prefix $''
{{- if .host.is_ublue }}

import '/usr/share/ublue-os/justfile'
{{- end }}

# update system
update:
{{- if eq .host.os_variant "silverblue" }}
  @echo '=> Updating rpm-ostree...'
  rpm-ostree update
  @echo '=> Updating flatpaks...'
  flatpak update -y
{{- if or (lookPath "distrobox") (lookPath "distrobox-export") }}
  @echo "=> Assembling and replacing distroboxes from ${HOME}/.config/distrobox/assemble.ini..."
  distrobox assemble create --replace --file "${HOME}/.config/distrobox/assemble.ini"
  @"${HOME}/.config/distrobox/exports.sh"
{{- end }}
{{- else }}
  @echo "=> No update available for {{ .chezmoi.os }}"
{{- end }}

{{ if eq .host.os_variant "silverblue" -}}
# enable & enroll in fingerprint auth
fingerprint-auth-enable:
    #!/usr/bin/env bash
    set -euo pipefail

    fprintd-enroll
    sudo authselect enable-feature with-fingerprint

# disable fingerprint auth
fingerprint-auth-disable:
    sudo authselect enable-feature with-fingerprint

{{ $gumBin := "gum" -}}
{{ if lookPath "ugum" -}}
{{ $gumBin = "ugum" -}}
{{ end -}}
# enable u2f auth
u2f-auth-enable:
    #!/usr/bin/env bash
    {{ $gumBin }} confirm "Setup primary user u2f_key?" && \
      pamu2fcfg --pin-verification > ~/.config/Yubico/u2f_keys || \
      echo '{{`{{{{ Color "99" "=>" }}`}} skipping adding primary key to user u2f_keys' | {{ $gumBin }} format -t template
    {{ $gumBin }} confirm "Setup secondary user u2f_key?" && \
      pamu2fcfg --nouser --pin-verification >> ~/.config/Yubico/u2f_keys || \
      echo '{{`{{{{ Color "99" "=>" }}`}} skipping adding primary key to user u2f_keys' | {{ $gumBin }} format -t template
    echo '{{`{{{{ Color "99" "=>" }}`}} enabling authselect feature with-pam-u2f' | {{ $gumBin }} format -t template
    if authselect current | grep with-pam-u2f > /dev/null; then
      echo '{{`{{{{ Color "99" "=>" }}`}} authselect feature already enabled!' | {{ $gumBin }} format -t template
    else
      sudo authselect enable-feature with-pam-u2f
    fi

# disable u2f auth
u2f-auth-disable:
    sudo authselect disable-feature with-pam-u2f
{{- end }}
{{- if or (lookPath "distrobox") (lookPath "distrobox-export") }}

# assemble and replace distroboxes from ${HOME}/.config/distrobox/assemble.ini
# https://github.com/89luca89/distrobox/blob/main/docs/usage/distrobox-assemble.md
db-assemble:
  echo 'Assembling and replacing distroboxes from ${HOME}/.config/distrobox/assemble.ini...'
  distrobox assemble create --replace --file "${HOME}/.config/distrobox/assemble.ini"
{{- end }}

# enable user podman socket
podman-socket:
  systemctl --user enable --now podman.socket

# enable tailscale
tailscale-enable:
  sudo systemctl enable tailscaled.service

# run yafti
yafti:
  yafti /usr/share/ublue-os/firstboot/yafti.yml

# vi: ft=justfile
