{
  "defaultProjectTrust": "ask",
  "packages": [
    "{{ .chezmoi.homeDir }}/.local/share/pi-extensions/current/node_modules/pi-subagents",
    "{{ .chezmoi.homeDir }}/.local/share/pi-extensions/current/node_modules/pi-ask-user",
    "{{ .chezmoi.homeDir }}/.local/share/pi-extensions/current/node_modules/@narumitw/pi-statusline"
  ]
}
