{
  "defaultModel": "gpt-5.5",
  "defaultProjectTrust": "ask",
  "defaultProvider": "openai-codex",
  "defaultThinkingLevel": "high",
  "hideThinkingBlock": true,
  "lastChangelogVersion": "0.80.10",
  "packages": [
    "{{ .chezmoi.homeDir }}/.local/share/pi-extensions/current/node_modules/pi-subagents",
    "{{ .chezmoi.homeDir }}/.local/share/pi-extensions/current/node_modules/pi-ask-user",
    "{{ .chezmoi.homeDir }}/.local/share/pi-extensions/current/node_modules/@narumitw/pi-statusline"
  ],
  "theme": "catppuccin-mocha-red"
}{{- /* trim newline */ -}}
