{
  "defaultModel": "gpt-5.6-terra",
  "defaultProjectTrust": "ask",
  "defaultProvider": "openai-codex",
  "defaultThinkingLevel": "high",
  "hideThinkingBlock": true,
  "lastChangelogVersion": "{{ trimPrefix "v" (output "mise" "current" "aqua:earendil-works/pi" | trim) }}",
  "packages": [
    "{{ .chezmoi.homeDir }}/.local/share/pi-extensions/current/node_modules/@tintinweb/pi-subagents",
    "{{ .chezmoi.homeDir }}/.local/share/pi-extensions/current/node_modules/pi-ask-user",
    "{{ .chezmoi.homeDir }}/.local/share/pi-extensions/current/node_modules/pi-web-search",
    "{{ .chezmoi.homeDir }}/.local/share/pi-extensions/current/node_modules/@narumitw/pi-statusline",
    {
      "source": "{{ .chezmoi.homeDir }}/.config/nono/packages/nolabs-ai/pi"
    }
  ],
  "theme": "catppuccin-mocha-red"
}{{- /* trim newline */ -}}
