#!/usr/bin/env bash

set -eufo pipefail

# https://patorjk.com/software/taag/#p=display&f=ANSI+Shadow&t=open%0A+package&x=none&v=4&h=4&w=80&we=false
echo '
 ██████╗ ██████╗ ███████╗███╗   ██╗
██╔═══██╗██╔══██╗██╔════╝████╗  ██║
██║   ██║██████╔╝█████╗  ██╔██╗ ██║
██║   ██║██╔═══╝ ██╔══╝  ██║╚██╗██║
╚██████╔╝██║     ███████╗██║ ╚████║
 ╚═════╝ ╚═╝     ╚══════╝╚═╝  ╚═══╝
    ██████╗  █████╗  ██████╗██╗  ██╗ █████╗  ██████╗ ███████╗
    ██╔══██╗██╔══██╗██╔════╝██║ ██╔╝██╔══██╗██╔════╝ ██╔════╝
    ██████╔╝███████║██║     █████╔╝ ███████║██║  ███╗█████╗
    ██╔═══╝ ██╔══██║██║     ██╔═██╗ ██╔══██║██║   ██║██╔══╝
    ██║     ██║  ██║╚██████╗██║  ██╗██║  ██║╚██████╔╝███████╗
    ╚═╝     ╚═╝  ╚═╝ ╚═════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚══════╝
'

# Colors
red='\033[0;31m'
blue='\033[0;34m'
magenta='\033[0;35m'
cyan='\033[0;36m'
clear='\033[0m'
print_info() { printf "\n${blue}📦 ${magenta}%s${clear}\n" "${@}"; }
print_success() { printf "\n${cyan}🎉 %s${clear}\n\n" "${@}"; }
print_err() { printf "\n${red}💥 %s${clear}\n\n" "${@}"; }

print_info "installing openpackage packages globally" && echo

if ! command -v mise &>/dev/null; then
  print_err "mise not found.
    install and try again."
  exit 0 # exit 0 to not block chezmoi apply
fi

if ! mise exec -- sh -c 'command -v opkg' &>/dev/null; then
  print_err "opkg not found.
    install and try again."
  exit 0 # exit 0 to not block chezmoi apply
fi

# .openpackage/openpackage.yml hash: {{ include "../home/private_dot_openpackage/openpackage.yml.tmpl" | sha256sum }}
mise exec -- opkg install -g --platforms claude opencode

print_success "openpackage done"

# vi: ft=bash
