#!/usr/bin/env bash

set -e

# Colors
# red='\033[0;31m'
# green='\033[0;32m'
# blue='\033[0;34m'
magenta='\033[0;35m'
cyan='\033[0;36m'
yellow='\033[0;33m'
clear='\033[0m'
print_info() { printf "\n${yellow}⚡ ${magenta}%s${clear}\n" "${@}"; }
print_success() { printf "\n${cyan}🎉 %s${clear}\n\n" "${@}"; }
# print_err() { printf "\n${red}💥 %s${clear}\n\n" "${@}"; }
print_warn() { printf "\n${yellow}⚠  %s${clear}\n\n" "${@}"; }

echo '
██╗  ██╗██╗    ██╗ █████╗ ██╗   ██╗██╗      █████╗ ███╗   ██╗██████╗       ███████╗ █████╗ ████████╗███████╗██╗     ██╗     ██╗████████╗███████╗
╚██╗██╔╝██║    ██║██╔══██╗╚██╗ ██╔╝██║     ██╔══██╗████╗  ██║██╔══██╗      ██╔════╝██╔══██╗╚══██╔══╝██╔════╝██║     ██║     ██║╚══██╔══╝██╔════╝
 ╚███╔╝ ██║ █╗ ██║███████║ ╚████╔╝ ██║     ███████║██╔██╗ ██║██║  ██║█████╗███████╗███████║   ██║   █████╗  ██║     ██║     ██║   ██║   █████╗  
 ██╔██╗ ██║███╗██║██╔══██║  ╚██╔╝  ██║     ██╔══██║██║╚██╗██║██║  ██║╚════╝╚════██║██╔══██║   ██║   ██╔══╝  ██║     ██║     ██║   ██║   ██╔══╝  
██╔╝ ██╗╚███╔███╔╝██║  ██║   ██║   ███████╗██║  ██║██║ ╚████║██████╔╝      ███████║██║  ██║   ██║   ███████╗███████╗███████╗██║   ██║   ███████╗
╚═╝  ╚═╝ ╚══╝╚══╝ ╚═╝  ╚═╝   ╚═╝   ╚══════╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═════╝       ╚══════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝╚══════╝╚══════╝╚═╝   ╚═╝   ╚══════╝
'

{{ if (stat (joinPath .chezmoi.homeDir ".local/share/xwayland-satellite/.git/HEAD")) -}}
# {{ include (joinPath .chezmoi.homeDir ".local/share/xwayland-satellite/.git/HEAD") }}
{{ end -}}


if [[ -f "/usr/lib/gcc/x86_64-redhat-linux/14/include/stddef.h" ]]; then
  export C_INCLUDE_PATH="/usr/lib/gcc/x86_64-redhat-linux/14/include:${C_INCLUDE_PATH}"
fi

if [ -d "{{ .chezmoi.homeDir }}/.local/share/xwayland-satellite" ]; then
    cd "{{ .chezmoi.homeDir }}/.local/share/xwayland-satellite"
    cargo build --release
    cp target/release/xwayland-satellite "{{ .chezmoi.homeDir }}/.local/bin/"
else
    print_warn "xwayland-satellite clone not found, skipping build"
fi

# vi: ft=bash
