#!/usr/bin/env bash

set -eufo pipefail

# https://patorjk.com/software/taag/#p=display&f=ANSI+Shadow&t=mise&x=none&v=4&h=4&w=80&we=false
echo '
███╗   ███╗██╗███████╗███████╗
████╗ ████║██║██╔════╝██╔════╝
██╔████╔██║██║███████╗█████╗
██║╚██╔╝██║██║╚════██║██╔══╝
██║ ╚═╝ ██║██║███████║███████╗
╚═╝     ╚═╝╚═╝╚══════╝╚══════╝
'

# Colors
red='\033[0;31m'
# green='\033[0;32m'
blue='\033[0;34m'
magenta='\033[0;35m'
cyan='\033[0;36m'
# yellow='\033[0;33m'
clear='\033[0m'
print_info() { printf "\n${blue}🧰 ${magenta}%s${clear}\n" "${@}"; }
print_success() { printf "\n${cyan}🎉 %s${clear}\n\n" "${@}"; }
print_err() { printf "\n${red}💥 %s${clear}\n\n" "${@}"; }
# print_warn() { printf "\n${yellow}⚠  %s${clear}\n\n" "${@}"; }

print_info "ensure all mise packages installed"

if ! command -v mise; then
  print_err "mise not found.
    install and try again: https://mise.jdx.dev/installing-mise.html"
  exit 1
fi

if [[ -f "/run/.dockerenv" ]] || [[ -f "/run/.containerenv" ]]; then # is container
  if [[ -n "${DISTROBOX_ENTER_PATH}" ]]; then
    print_info "  ensure permissions on npm dirs"
    _ID="$(id -u)"
    _GID="$(id -g)"
    sudo chown -R "${_ID}:${_GID}" "${HOME}/.npm-global" &&
      sudo chown -R "${_ID}:${_GID}" "${HOME}/.npm"
  fi
fi

# .config/mise/config.toml hash: {{ include "../mise/config.toml" | sha256sum }}
# .config/mise/mise.lock hash: {{ include "../mise/mise.lock" | sha256sum }}
mise install
mise reshim --force

# Restore lockfile symlink (mise atomic writes break it)
"{{ .chezmoi.sourceDir }}/.chezmoiscripts/.helpers/ensure_mise_lockfile_symlink.sh" "{{ .home.dots }}"

print_success "mise done"

# vi: ft=bash
