#!{{ lookPath "bash" }}

set -eufo pipefail

echo '
 █████╗  ██████╗ ██╗   ██╗ █████╗
██╔══██╗██╔═══██╗██║   ██║██╔══██╗
███████║██║   ██║██║   ██║███████║
██╔══██║██║▄▄ ██║██║   ██║██╔══██║
██║  ██║╚██████╔╝╚██████╔╝██║  ██║
╚═╝  ╚═╝ ╚══▀▀═╝  ╚═════╝ ╚═╝  ╚═╝
'

magenta='\033[0;35m'
cyan='\033[0;36m'
clear='\033[0m'

# renovate: datasource=github-releases depName=aquaproj/aqua
_aqua_latest_version=v2.48.1

# renovate: datasource=github-releases depName=aquaproj/aqua-installer
_aqua_installer_version=v3.1.1
_aqua_installer_sha256sum="e9d4c99577c6b2ce0b62edf61f089e9b9891af1708e88c6592907d2de66e3714"

if command -v aqua; then
  _aqua_current="$(aqua -v | head -n1 | cut -d" " -f3 | sed "s/^/v/")"
else
  _aqua_current="none"
fi

printf "\n${cyan}💧 aqua${clear}\n---\n${magenta} - latest: %s\n - current: %s${clear}\n\n" "${_aqua_latest_version}" "${_aqua_current}"

if [[ ! $(command -v aqua) ]]; then
  # ensure AQUA vars are set
  function setenv() { export "$1=$2"; }

  DOTS="${DOTS:={{ .home.dots }}}"
  eval "$(grep -i AQUA <"${HOME}"/.setenv)"

  pushd "$(mktemp -d)"
  _aqua_installer="aqua-installer"

  printf "\n${cyan}💧 aqua-installer version${clear}:${magenta} %s\n${clear}" "${_aqua_installer_version}"

  curl -sSfL "https://raw.githubusercontent.com/aquaproj/aqua-installer/${_aqua_installer_version}/aqua-installer" \
    -o "${_aqua_installer}"
  echo "${_aqua_installer_sha256sum}  ${_aqua_installer}" | sha256sum -c
  chmod +x "${_aqua_installer}"
  "./${_aqua_installer}"

  # ensure aqua is in path
  eval "$(grep -i AQUA <"${HOME}"/.bashrc)"

  popd
elif [[ "${_aqua_latest_version}" != "${_aqua_current}" ]]; then
  if [[ $(command -v op) ]]; then
    op run -- aqua update-aqua || GITHUB_TOKEN="" aqua update-aqua
  else
    GITHUB_TOKEN="" aqua update-aqua
  fi
else
  printf "\n${cyan}💧 ${magenta}%s${clear}\n\n" " aqua installed and up to date"
fi

printf "\n${cyan}💧 ${magenta}%s${clear}\n\n" "ensure all aqua packages installed"

# .config/aqua/aqua.yaml hash: {{ include "../aqua/aqua.yaml" | sha256sum }}
aqua install --all

printf "\n${cyan}💧 ${magenta}%s${clear}\n\n" "aqua done"

# vi: ft=bash
