#!/bin/env bash

yellow='\033[0;33m'

echo '
   ██████╗ ██╗   ██╗████████╗██╗  ██╗ ██████╗ ███╗   ██╗
   ██╔══██╗╚██╗ ██╔╝╚══██╔══╝██║  ██║██╔═══██╗████╗  ██║
   ██████╔╝ ╚████╔╝    ██║   ███████║██║   ██║██╔██╗ ██║
   ██╔═══╝   ╚██╔╝     ██║   ██╔══██║██║   ██║██║╚██╗██║
   ██║        ██║      ██║   ██║  ██║╚██████╔╝██║ ╚████║
🐍 ╚═╝        ╚═╝      ╚═╝   ╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
'

_python_version="3.11"

if [[ -n $(command -v pyenv) ]] && [[ -z $(command -v python) ]]; then
  pyenv install "${_python_version}"
  pyenv global "${_python_version}"
elif [[ -z $(command -v pyenv) ]]; then
  # shellcheck disable=SC2059
  printf "\n${yellow} ⚠️ missing pyenv!${clear}\n"
fi

# vi: ft=bash
