#!/bin/env bash

set -euo pipefail

_bashrc="${HOME}/.bashrc"

if [[ ! -f ${_bashrc} ]]; then
  print_err "unable to find ${_bashrc}"
  exit 1
fi

# shellcheck disable=SC1090
source "${_bashrc}"

_aqua_installer_version="v2.1.1" # TODO: renovate
_aqua_installer_sha256sum="c2af02bdd15da6794f9c98db40332c804224930212f553a805425441f8331665"

function aqua_install() {
  if [[ ${GITHUB_TOKEN} == *"op://"* ]] && [[ -z $(command -v op) ]]; then
    unset GITHUB_TOKEN
  fi
  curl -sSfL -O "https://raw.githubusercontent.com/aquaproj/aqua-installer/${_aqua_installer_version}/aqua-installer"
  echo "${_aqua_installer_sha256sum}  aqua-installer" | sha256sum -c
  chmod +x aqua-installer
  ./aqua-installer && rm aqua-installer
}

aqua_install

if [[ -n $(command -v aqua) ]]; then
  aqua i -a
else
  print_warn "⚠ aqua not found!"
fi

if [[ -n $(command -v bob) ]]; then
  print_info "installing nvim via bob"

  bob install stable
  bob use stable
else
  print_warn "⚠ bob not found!"
fi

if [[ -f "${HOME}/.mani.yaml" ]] && [[ -n $(command -v mani) ]]; then
  print_info "init: mani"

  mani sync
else
  printf_warn "⚠ mani not found!"
fi

if [[ -n $(command -v fish) ]]; then
  print_info "init: fish"

  fish -c "_init"
else
  print_warn "⚠ fish not found!"
fi

print_success "All done! A shell restart is recommended."

print_info "wrap it all up by runing:"
# shellcheck disable=SC2016
printf '  chsh -s $(which fish)\n\n'

# vi: ft=sh
