background-opacity = 0.95
command = {{ lookPath "fish" }} -l
font-family = FiraCode Nerd Font Mono
font-size = 14
gtk-titlebar = false
theme = Catppuccin Mocha
window-decoration = {{ not (eq .chezmoi.os "linux") }}
keybind = shift+enter=text:\n

# remap tab selection (used for atuin instead)
keybind = alt+1=unbind
keybind = alt+2=unbind
keybind = alt+3=unbind
keybind = alt+4=unbind
keybind = alt+5=unbind
keybind = alt+6=unbind
keybind = alt+7=unbind
keybind = alt+8=unbind
keybind = alt+9=unbind
keybind = ctrl+alt+1=goto_tab:1
keybind = ctrl+alt+2=goto_tab:2
keybind = ctrl+alt+3=goto_tab:3
keybind = ctrl+alt+4=goto_tab:4
keybind = ctrl+alt+5=goto_tab:5
keybind = ctrl+alt+6=goto_tab:6
keybind = ctrl+alt+7=goto_tab:7
keybind = ctrl+alt+8=goto_tab:8
keybind = ctrl+alt+9=goto_tab:9

# send to Zellij
keybind = ctrl+alt+left=unbind
keybind = ctrl+alt+right=unbind
