background-opacity = 0.95
command = {{ lookPath "fish" }} -l
font-family = FiraCode Nerd Font Mono
font-size = 14
gtk-titlebar = false
theme = catppuccin-mocha
window-decoration = {{ not (eq .chezmoi.os "linux") }}
