{
  "context": {
    "fileName": [
      "AGENTS.md",
      "GEMINI.md"
    ],
    "loadMemoryFromIncludeDirectories": true,
    "includeDirectories": [
      "/var/home/{{ .me.user }}/.config/agents/instructions",
      "/home/{{ .me.user }}/.config/agents/instructions"
    ]
  },
  "telemetry": {
    "enabled": false
  },
  "general": {
    "disableAutoUpdate": true,
    "disableUpdateNag": true,
    "preferredEditor": "neovim"
  },
  "hooks": {
{{- if stat ( joinPath .chezmoi.homeDir ".gemini/hooks/thts-prompt-check.sh" ) }}
    "BeforeAgent": [
      {
        "hooks": [
          {
            "command": "{{ joinPath .chezmoi.homeDir ".gemini/hooks/thts-prompt-check.sh" }}",
            "type": "command"
          }
        ]
      }
    ],
{{- end }}
{{- if stat ( joinPath .chezmoi.homeDir ".gemini/hooks/thts-session-start.sh" ) }}
    "SessionStart": [
      {
        "hooks": [
          {
            "command": "{{ joinPath .chezmoi.homeDir ".gemini/hooks/thts-session-start.sh" }}",
            "type": "command"
          }
        ]
      }
    ],
{{- end }}
    "enabled": true
  },
  "ide": {
    "enabled": true
  },
  "security": {
    "auth": {
      "selectedType": "oauth-personal"
    },
    "disableYoloMode": true
  },
  "sessionRetention": {
    "enabled": true,
    "maxAge": "30d"
  },
  "shell": {
    "pager": "bat",
    "showColor": true
  },
  "tools": {
    "enableHooks": true
  },
  "ui": {
    "showMemoryUsage": true,
    "showModelInfoInChat": true,
    "showStatusInTitle": true,
    "theme": "GitHub",
    "useFullWidth": true
  },
  "privacy": {
    "usageStatisticsEnabled": false
  }
}
