[Desktop Entry]
Name=ZSA Keymapp
GenericName=Keymapp
Exec="{{ .chezmoi.homeDir }}/.local/bin/keymapp"
Icon={{ .chezmoi.homeDir }}/.local/share/zsa/keymapp.png
Type=Application
Categories=Utility;
Keywords=ZSA;Keymapp;
StartupWMClass=keymapp

{{- /* vi: ft=desktop */}}
