{{ $githubRepoPrefix := "git@github.com:scottames" -}}
{{ if eq .me.git.transport "https" -}}
{{-   $githubRepoPrefix = "https://github.com/scottames" -}}
{{- end -}}
{{ if not (eq "root" .me.user) -}} # skip if running in CI
{{- if and (lookPath "is-github-authed.sh") (eq (output "is-github-authed.sh") "true") -}}
#  ╭──────────────────────────────────────────────────────────╮
#  │ git-repo                                                 │
#  │ | personal                                               │
#  ╰──────────────────────────────────────────────────────────╯

["src/github.com/scottames/.agents/main"]
    type = "git-repo"
    url = "{{ $githubRepoPrefix }}/.agents.git"
    refreshPeriod = "0"

["src/github.com/scottames/.trunk/main"]
    type = "git-repo"
    url = "{{ $githubRepoPrefix }}/.trunk.git"
    refreshPeriod = "0"

["src/github.com/scottames/daggerverse/main"]
    type = "git-repo"
    url = "{{ $githubRepoPrefix }}/daggerverse.git"
    refreshPeriod = "0"

["src/github.com/scottames/containers/main"]
    type = "git-repo"
    url = "{{ $githubRepoPrefix }}/containers.git"
    refreshPeriod = "0"

["src/github.com/scottames/copr/main"]
    type = "git-repo"
    url = "{{ $githubRepoPrefix }}/copr.git"
    refreshPeriod = "0"

["src/github.com/scottames/cv/main"]
    type = "git-repo"
    url = "{{ $githubRepoPrefix }}/cv.git"
    refreshPeriod = "0"

["src/github.com/scottames/infra/main"]
    type = "git-repo"
    url = "{{ $githubRepoPrefix }}/infra.git"
    refreshPeriod = "0"

["src/github.com/scottames/ntbk/main"]
    type = "git-repo"
    url = "{{ $githubRepoPrefix }}/ntbk.git"
    refreshPeriod = "0"

["src/github.com/scottames/misc/main"]
    type = "git-repo"
    url = "{{ $githubRepoPrefix }}/misc.git"
    refreshPeriod = "0"

["src/github.com/scottames/renovate/main"]
    type = "git-repo"
    url = "{{ $githubRepoPrefix }}/renovate.git"
    refreshPeriod = "0"

["src/github.com/scottames/scottames.github.io/main"]
    type = "git-repo"
    url = "{{ $githubRepoPrefix }}/scottames.github.io.git"
    refreshPeriod = "0"

["src/github.com/scottames/thts/main"]
    type = "git-repo"
    url = "{{ $githubRepoPrefix }}/thts.git"
    refreshPeriod = "0"

["src/github.com/scottames/walls/main"]
    type = "git-repo"
    url = "{{ $githubRepoPrefix }}/walls.git"
    refreshPeriod = "0"

{{ end -}} # end: is-github-authed
{{ end -}} # end: not root user

# vi: ft=toml
