{{ $repos := list
  ".agents"
  ".trunk"
  "daggerverse"
  "containers"
  "copr"
  "cv"
  "infra"
  "ntbk"
  "misc"
  "renovate"
  "scottames.github.io"
  "thts"
  "walls"
-}}
{{ $githubRepoPrefix := "git@github.com:scottames" -}}
{{ if eq .me.git.transport "https" -}}
{{-   $githubRepoPrefix = "https://github.com/scottames" -}}
{{- end -}}

{{ if not (eq "root" .me.user) -}} # skip if running in CI
{{ if and (lookPath "is-github-authed.sh") (eq (output "is-github-authed.sh") "true") -}}

{{ range $repos -}}
["src/github.com/scottames/{{ . }}/main"]
    type = "git-repo"
    url = "{{ $githubRepoPrefix }}/{{ . }}.git"
    refreshPeriod = "0"
{{ end }}

{{ end -}} # end: is-github-authed
{{ end -}} # end: not root user

# vi: ft=toml
