@import "themes/mocha.css";

* {
  border: none;
  border-radius: 0;
  font-family: monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

/* https://catppuccin.com/palette */
/* TODO: import catppuccin.mocha CSS from chezmoiexternal */

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
  background: @base;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: @crust;
}

#workspaces button {
  padding: 5px;
  color: @surface0;
  margin-right: 5px;
}

#workspaces button.active {
  color: @subtext0;
}

#workspaces button.focused {
  color: @lavender;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: @crust;
  background: @subtext0;
  border-radius: 10px;
}

#workspaces button:hover {
  background: @crust;
  color: @text;
  border-radius: 10px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-lock,
#custom-power,
#disk,
#battery,
#cpu,
#memory,
#temperature,
#power-profiles-daemon,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
  background: @base;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
  border: 1px solid #181825;
}

#tray {
  border-radius: 10px;
  margin-right: 10px;
}

#workspaces {
  background: @base;
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#window {
  border-radius: 10px;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
}

#battery {
  color: @green;
  border-left: 0px;
  border-right: 0px;
}

#clock {
  color: @yellow;
  border-radius: 10px;
  background: @base;
  margin-top: 10px;
  border: 1px solid @mantle;
}

#custom-lock {
  color: @text;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio {
  color: @rosewater;
  border-left: 0px;
  border-right: 0px;
  border-radius: 10px 0 0 10px;
}

#cpu {
  color: @maroon;
  border-left: 0px;
  border-right: 0px;
  border-radius: 10px 0 0 10px;
}

#memory {
  color: @lavender;
  border-left: 0px;
  border-right: 0px;
}

#temperature {
  color: @sapphire;
  border-left: 0px;
  border-right: 0px;
}

#power-profiles-daemon {
  color: @blue;
  border-left: 0px;
  border-right: 0px;
}

#disk {
  color: @mauve;
  border-left: 0px;
  border-right: 0px;
}

#network {
  color: @text;
  border-left: 0px;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
}

#custom-power {
  color: @mauve;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
  border-left: 0px;
}

#backlight {
  /* color: #cba6f7; */
  color: @flamingo;
  border-left: 0px;
  border-right: 0px;
}
