default-timeout=5000
font={{ .desktop.fonts.monospace }} 12

# https://github.com/catppuccin/mako
background-color=#1e1e2e
border-color=#cba6f7
progress-color=over #313244
text-color=#cdd6f4

[urgency=high]
border-color=#fab387
