{{- $zellijStatusPlugin := joinPath .chezmoi.homeDir ".config/zellij/plugins/zellij-status.wasm" -}}
layout {
    tab {
        pane split_direction="vertical" {
            pane stacked=true {
                pane
                pane
            }
            pane command="nvim" start_suspended=true
        }
{{- if stat $zellijStatusPlugin }}
        pane size=1 borderless=true {
            plugin location="zellij-status"
        }
{{- end }}
    }
}
