layout {
    tab {
        pane split_direction="vertical" {
            pane stacked=true {
                pane
                pane
                pane
            }
            pane command="nvim" start_suspended=true
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
}
