#!/bin/env fish

function is_light --description "returns true if it is light (day) time"

    set -l h (date +%k)
    if test $h -le {{ .desktop.hour.light }}
        or test $h -ge {{ .desktop.hour.dark }}
        printf false
        return 1
    end

    printf true
    return 0
end

# vi: ft=fish
