[f]
image=ghcr.io/scottames/fedora-toolbox:{{
  if regexMatch "^fedora" (lower  .host.os_name)
    }}{{ .host.os_version }}{{ else }}latest{{ end }}
nvidia={{ (eq "nvidia" .host.gpu) }}
pull=true
root=false
replace=true
init_hooks=~/bin/distrobox-init.sh;
init_hooks={{ .chezmoi.homeDir }}/.config/distrobox/scripts/init_f.fish;
exported_apps=""
exported_bins="/usr/bin/aws"
exported_bins="/usr/bin/zenity"
exported_bins_path=~/.local/bin

# vi: ft=dosini
