[at]
image=ghcr.io/scottames/arch-toolbox:latest
nvidia={{ (eq "nvidia" .host.gpu) }}
pull=true
root=false
replace=true
init_hooks=ln -sf /usr/bin/distrobox-host-exec /usr/local/bin/xclip;
init_hooks=ln -sf /usr/bin/distrobox-host-exec /usr/local/bin/nmcli;
init_hooks=ln -sf /usr/bin/distrobox-host-exec /usr/local/bin/rpm-ostree;
init_hooks=ln -sf /usr/bin/distrobox-host-exec /usr/local/bin/ujust;
init_hooks=ln -sf /usr/bin/distrobox-host-exec /usr/local/bin/ugum;
exported_bins="/usr/bin/aws"
exported_bins="/usr/bin/zenity"
exported_bins_path=~/.local/bin

[fd]
image=ghcr.io/scottames/fedora-toolbox:latest
nvidia={{ (eq "nvidia" .host.gpu) }}
pull=true
root=false
replace=true
init_hooks=ln -sf /usr/bin/distrobox-host-exec /usr/local/bin/xclip;
init_hooks=ln -sf /usr/bin/distrobox-host-exec /usr/local/bin/nmcli;
init_hooks=ln -sf /usr/bin/distrobox-host-exec /usr/local/bin/rpm-ostree;
init_hooks=ln -sf /usr/bin/distrobox-host-exec /usr/local/bin/ujust;
init_hooks=ln -sf /usr/bin/distrobox-host-exec /usr/local/bin/ugum;

# vi: ft=dosini
