input {
    keyboard {
        xkb {
            layout "us"
            options "ctrl:nocaps"
        }
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        natural-scroll
        accel-speed -0.5
        accel-profile "flat"
    }
}
