#!/bin/env fish

# Emulates vim's cursor shape behavior
# Set the normal and visual mode cursors to a block
set fish_cursor_default block
# Set the insert mode cursor to a line
set fish_cursor_insert line
# Set the replace mode cursor to an underscore
set fish_cursor_replace_one underscore
# The following variable can be used to configure cursor shape in
# visual mode, but due to fish_cursor_default, is redundant here
set fish_cursor_visual blocks

# https://fishshell.com/docs/current/interactive.html#vi-mode-commands
function fish_user_key_bindings
    set -g fish_key_bindings fish_vi_key_bindings
    fish_default_key_bindings -M insert
    fish_vi_key_bindings --no-erase insert

    {{- if eq .chezmoi.os "linux" }}
    bind -M insert \e! 'distrobox enter at;'
    bind -M insert \e@ 'distrobox enter fd;'
    {{ end -}}
end

# vi: ft=fish
