{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": false,
  "default_agent": "plan",
  "keybinds": {
    "command_list": "ctrl+.",
    "leader": "ctrl+o"
  },
  "instructions": [
{{- $instructionsDir := joinPath .chezmoi.homeDir ".config/agents/instructions" -}}
{{- if stat $instructionsDir }}
{{- $instructionsFiles := output "find" "-L" $instructionsDir
      "-name" "*.md" "-type" "f" -}}
{{- $instructionsFiles = $instructionsFiles | trim | splitList "\n" | sortAlpha }}
{{- range $i, $f := $instructionsFiles }}
    "{{ $f }}"{{ if lt (add $i 1) (len $instructionsFiles) }},{{ end }}
{{- end }}
  {{ else }}{{ end -}}
],
  "mcp": {
    "tavily": {
      "type": "remote",
      "url": "https://mcp.tavily.com/mcp",
      "enabled": true,
      "oauth": false,
      "headers": {
        "Authorization": "Bearer {env:TAVILY_API_KEY}"
      }
    }
  },
  "small_model": "openai/gpt-5-mini",
  "permission": {
    "edit": "ask",
    "bash": {
      "*": "ask",
      "/bin/ls*": "allow",
      "/usr/bin/ls*": "allow",
      "cargo build*": "allow",
      "cargo check*": "allow",
      "cargo doc*": "allow",
      "cargo info*": "allow",
      "cargo run*": "allow",
      "cargo test*": "allow",
      "cat*": "allow",
      "command grep*": "allow",
      "command ls*": "allow",
      "command rg*": "allow",
      "date *": "allow",
      "git diff": "allow",
      "git diff*": "allow",
      "git log": "allow",
      "git log*": "allow",
      "git mv*": "allow",
      "git rev-parse*": "allow",
      "git show*": "allow",
      "git status": "allow",
      "git status*": "allow",
      "git worktree list*": "allow",
      "gh pr view*": "allow",
      "gh run view*": "allow",
      "go build*": "allow",
      "go list*": "allow",
      "go mod tidy*": "allow",
      "go run*": "allow",
      "go test*": "allow",
      "grep *": "allow",
      "gt ls*": "allow",
      "ls *": "allow",
      "kubectl desc*": "allow",
      "kubectl get*": "allow",
      "kubectl list*": "allow",
      "rg *": "allow",
      "pwd": "allow",
      "test -f*": "allow",
      "thts sync*": "allow",
      "tree *": "allow",
      "trunk check*": "allow",
      "trunk fmt*": "allow",
      "uv run pytest*": "allow",
      "wc *": "allow"
    },
    "doom_loop": "ask",
    "external_directory": "ask",
    "skill": "ask",
    "webfetch": "ask",
    "websearch": "allow"
  },
  "agent": {
    "plan": {
      "permission": {
        "edit": "deny"
      }
    }
  },
  "server": {
    "hostname": "127.0.0.1",
    "mdns": false
  },
  "share": "disabled"
}
