{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": false,
  "default_agent": "plan",
  "keybinds": {
    "command_list": "ctrl+.",
    "leader": "ctrl+o"
  },
  "instructions": [
{{- $instructionsDir := joinPath .chezmoi.homeDir ".config/agents/instructions" -}}
{{- if stat $instructionsDir }}
{{- $instructionsFiles := output "find" "-L" $instructionsDir
      "-name" "*.md" "-type" "f" -}}
{{- $instructionsFiles = $instructionsFiles | trim | splitList "\n" | sortAlpha }}
{{- range $i, $f := $instructionsFiles }}
    "{{ $f }}"{{ if lt (add $i 1) (len $instructionsFiles) }},{{ end }}
{{- end }}
  {{ else }}{{ end -}}
],
  "model": "anthropic/claude-opus-4-5",
  "small_model": "anthropic/claude-haiku-4-5",
  "permission": {
    "edit": "ask",
    "bash": {
      "*": "ask",
      "cat*": "allow",
      "git status": "allow",
      "git mv*": "allow",
      "ls*": "allow",
      "/bin/ls*": "allow",
      "pwd": "allow",
      "cargo info*": "allow"
    },
    "skill": "ask",
    "webfetch": "ask",
    "doom_loop": "ask",
    "external_directory": "ask"
  },
  "server": {
    "hostname": "127.0.0.1",
    "mdns": false
  },
  "share": "disabled"
}
