{
{{- if lookPath "nono" }}
  "nolabs-ai": {
    "source": {
      "source": "directory",
      "path": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/nolabs-ai"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/nolabs-ai",
    "lastUpdated": "2026-07-22T02:52:16.530Z"
  }
{{- end }}
}
