{
  "claude-plugins-official": {
    "source": {
      "source": "github",
      "repo": "anthropics/claude-plugins-official"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/claude-plugins-official",
    "lastUpdated": "2025-12-23T17:38:29.783Z"
  },
  "superpowers-dev": {
    "source": {
      "source": "github",
      "repo": "obra/superpowers",
      "ref": "v4.0.3"
    },
    "installLocation": "{{ .chezmoi.homeDir }}/.claude/plugins/marketplaces/superpowers-dev",
    "lastUpdated": "2026-01-07T21:48:12.575Z"
  }
}{{- /* no newline */ -}}
