[Unit]
Description=Fedora for distrobox fun
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/distrobox assemble create --replace --file /home/scta/.config/distrobox/assemble.ini --name f
ExecStart=/usr/bin/distrobox enter f
RemainAfterExit=true

[Install]
WantedBy=default.target
