[Unit]
Description=Fedora for distrobox fun

[Service]
Type=oneshot
ExecStart={{ .chezmoi.homeDir }}/bin/distrobox-assemble.sh f
ExecStart=/usr/bin/distrobox enter f
RemainAfterExit=true

[Install]
WantedBy=default.target
