[Unit]
Description=Arch for distrobox fun

[Service]
Type=oneshot
ExecStart={{ .chezmoi.homeDir }}/bin/distrobox-assemble.sh a
ExecStart=/usr/bin/distrobox enter a
RemainAfterExit=true

[Install]
WantedBy=default.target
