{{ template "zellij/config.kdl" (dict "root" . "default_layout" (printf "%s/.config/zellij/profiles/vertical-right/layouts/default.kdl" .chezmoi.homeDir) "new_tab_layout" (printf "%s/.config/zellij/profiles/vertical-right/layouts/default.kdl" .chezmoi.homeDir)) }}
