name: chezmoi init
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  getModules:
    name: chezmoi init
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Extract branch name
        shell: bash
        run: |
          echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch
      - name: Run chezmoi init in arch linux docker container
        uses: addnab/docker-run-action@v3
        with:
          # https://github.com/scottames/boxes
          image: ghcr.io/scottames/arch-toolbox:latest
          options: -v ${{ github.workspace }}:/home/container/src/scottames/dots
          run: |
            /home/container/src/scottames/dots/scripts/init.sh \
              --no-tty --branch "${{ steps.extract_branch.outputs.branch }}"
