name: trunk.io
on:
  push:
    branches:
      - main
  # yamllint disable-line rule:empty-values
  pull_request:
jobs:
  getModules:
    name: trunk.io
    runs-on: ubuntu-latest
    permissions:
      checks: write
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Trunk
        uses: trunk-io/trunk-action@75699af9e26881e564e9d832ef7dc3af25ec031b # v1.2.4
